@model NOVOROV.Models.Ocorrencia

<div class="row">
    <div class="col">
        <div class="from-group">
            <label asp-for="StatusId" class="control-label"></label>
            <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId">
                <option>Selecione...</option>
            </select>
        </div>
    </div>
</div>