@model NOVOROV.Models.DropDownLists.Funcionalidade

@{
    ViewData["Title"] = "Edit";
}

<h4>Editando funcionalidade @Model.Id</h4>
<a asp-action="Index">Volta</a>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeFuncionalidade" class="control-label"></label>
                <input asp-for="NomeFuncionalidade" class="form-control" />
                <span asp-validation-for="NomeFuncionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoFuncionalidade" class="control-label"></label>
                <input asp-for="DescricaoFuncionalidade" class="form-control" />
                <span asp-validation-for="DescricaoFuncionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


